{% extends "base.html" %}
{% block content %}
<!-- blogs -->
<div class="container">
    <p class="stories">
        <img src="https://media.istockphoto.com/photos/bomb-picture-id1307504579?b=1&k=20&m=1307504579&s=170667a&w=0&h=YMMVVIw70D_bcVbv38f1dK6UNZUrNS1nC3rtHTysrcI="
                                    alt="Your story" class="user-avatar border-radius rounded-circle">
                                    <img src="https://media.istockphoto.com/photos/little-robot-as-statue-of-liberty-technology-concept-3d-rendering-picture-id1319190834?b=1&k=20&m=1319190834&s=170667a&w=0&h=6FklKepIg0cudvKaNZhXxqSoiCrrkd17pLhDLCcP2FU="
                                    alt="" class="user-avatar border-radius rounded-circle">
                                    <img src="https://images.unsplash.com/photo-1593085512500-5d55148d6f0d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Y2FydG9vbnN8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" alt=""class="user-avatar border-radius rounded-circle">
                                    
    </p>
    
</div>
<section class="blog-section">
    <div class="container mt-5">
        <div>
            {% for image in images %}
            <div class="col-sm-12 col-md-12 col-lg-3">
                <div class="card mb-4">
                    <div class="d-flex justify-content-start m-2">
                        <div>
                            <a href="{% url 'user.profile' image.user.id %}">
                                <img src="https://media.istockphoto.com/photos/bomb-picture-id1307504579?b=1&k=20&m=1307504579&s=170667a&w=0&h=YMMVVIw70D_bcVbv38f1dK6UNZUrNS1nC3rtHTysrcI="
                                    alt="" class="user-avatar border-radius">
                            </a>
                        </div>
                        <div class="text-center mt-1">
                            <a href="{% url 'user.profile' image.user.id %}">
                                <h6><small>{{ image.user.username }} </small></h6>
                            </a>
                        </div>
                    </div>
                    <img src="{{ image.image.url }}" class="card-img-top" alt="News Image">
                    <div class="card-body">
                        <small>
                            <div class="d-flex justify-content-start">
                                <div>
                                    <p>
                                        <a href="{% url 'like.image' image.id %}"> <i class="far fa-heart"></i></a>
                                    </p>
                                </div>
                                <div>
                                    <p>
                                        <a href="{% url 'single.image' image.id %}"> <i class="far fa-comment"></i></a>
                                    </p>
                                </div>
                            </div>
                        </small>
                        <a href="{% url 'single.image' image.id %}">
                            <p class="fade-item">{{image.like_count }} Likes <br>View All {{image.comment_count }}
                                Comments</p>
                            <h6 class="">{{ image.image_caption|slice:":20" }}<small><span class="text-muted">...Read
                                        More</span></small> </h6>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}