@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #f9f9f9;
}
:root {
  --main-color: red;
}

a,
a:hover,
a:focus {
  text-decoration: none;
  color: black;
}

.fa {
  color: rgba(var(--i1d, 38, 38, 38), 1);
  font-size: 15px;
}

.fade-item {
  font-weight: 400;
  color: rgb(63, 63, 63);
  font-size: 13px;
}

.btn,
.btn:hover {
  background-color: var(--main-color);
  color: #fff;
  /* border-color: var(--main-color); */
}

.btn-outline-dark,
.btn-outline-dark:hover {
  background-color: transparent;
  color: black;
}

.b-r {
  text-transform: uppercase;
  border-radius: 20px;
  padding: 7px;
}

/* navbar */
.navbar-brand {
  font-size: 2rem;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  font-family: "Lobster", cursive;
}
.navbar-brand:hover {
  color: black;
}
.navbar-expand-lg {
  background: #ffffff;
}

.navbar-expand-lg li a {
  color: rgb(0, 0, 0);
}

.navbar-toggler {
  background-color: white;
}
.nav-right {
  margin-right: 50px;
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: 400;
}

.nav-link {
  margin-right: 5px;
}

/* homepage */
.homepage {
  background-image: url("../img/1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* height: 100vh; */
}

.homepage-content {
  margin: 170px 0px 170px 0px;
}

.homepage-content h3 {
  letter-spacing: 1px;
  font-size: 1.8rem;
  font-family: "Poppins", sans-serif;
}
.home {
  background-color: rgba(39, 39, 39, 0.3);
  color: white;
}

.card {
  background: #fff none repeat scroll 0 0;
  border: 1px solid rgb(206, 206, 206);
  border-radius: 1px;
  /* box-shadow: 0 0 11px 5px rgb(103 58 183 / 10%); */
  margin-bottom: 1px;
  padding: 1px 1px;
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
}

/* .card:hover {
  box-shadow: 0 0 11px 5px rgba(70, 41, 121, 0.25);
  background: linear-gradient(-19deg, rgba(235, 174, 8, 0.95) 0px);
} */

/* .card h5 {
  font-size: 18px;
  line-height: 26px;
} */

/* search button */

/* .search input {
  border: 1px solid #eaeff4;
  border-radius: 2px;
} */

.fa-heart {
  margin-right: 10px;
}

.categories .btn {
  margin: 2px;
}

/* side post */
.side-post-image {
  height: 70px;
  border-radius: 5px;
}

.tops span {
  font-size: 13px;
}

/* footer */
.footer {
  padding: 0.5rem 0;
  border-top: 1px solid #f1f2f3;
  background: #032c31;
}

.footer p {
  margin: 15px;
  color: white;
  text-transform: uppercase;
}

/* ===================================== single post page ============================================ */
@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap");
.headings {
  font-family: "Merienda", cursive;
}
.single-top-header {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.single-content {
  padding: 2rem;
  margin-top: 100px;
}
.single-top-header .header {
  background-color: rgba(0, 0, 0, 0.8);
}

.author-img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.blog-container {
  font-weight: 300;
  line-height: 30px;
  font-size: 18px;
  color: #757575;
}

/* comments container */
.comments-container {
  background-color: #fafbfb;
  padding: 20px;
}

.comment-author-img {
  width: 60px;
  height: 60px;
  padding: 10px;
  border-radius: 50%;
}

.comment-p {
  font-size: 0.82031rem;
  font-weight: 100;
}
.comment-author {
  font-weight: 500;
  text-transform: capitalize;
}

.comment-author span {
  font-size: 14px;
  font-weight: 300;
}

.user-avatar {
  width: 30px;
  margin-right: 7px;
  

}

.card-img,
.card-img-top {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.nav-item .fa {
  font-size: 25px;
}

.profile-picture {
  width: 180px;
}

/* profile page */
.profile .card-img-top {
  border-radius: 50%;
  display: block;
  float: none;
  height: 200px;
  line-height: 32px;
  margin: 0 auto;
  width: 130px;
  margin-top: 6px;
}

.blog-section .card-img-top,
.card-img-tops {
  height: 200px;
}
.search-form {
  margin-left: 300px;
}
/* on small device change height of the image */
@media (max-width: 767px) {
  .blog-section .card-img-top,
  .card-img-tops {
    height: 1000px;
  }
  .search-form {
    margin-left: 0px;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .card-img-top {
    height: 100% !important;
  }
  p {
    font-size: 3em !important;
  }

  h1,h2,h3,h4,h5,h6 {
    font-size: 3em !important;
  }
}

.posts .img-fluid {
  height: 80px;
  width: 50px;
  border-radius: 50%;
}

.border-radius {
  border-radius: 50%;
}

.img-box img {
  border-radius: 50%;
  height: 80px;
  width: 50px;
}

.form-text {
  display: none;
}

.stories{
    text-align: left;
    
}

.rounded-circle{
    border-color: 1px red;
    border-radius: 50%;
  padding: 1.5px;
  background: linear-gradient(red 50%, orange 0);
}


